
 <a href="#" class="list-group-item  text-center bg_t analytic-title">
                     <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}" class="filter-img"> <img src="/assets/images/tabs-bg-img.png" class="filter-img"> <span class="">{{content.field_title.0}}</span> 
 </a>