<section id="team" class="pb-5">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h1><span> <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}"> </span>  {{content.field_title.0}}</h1>
                  <p>{{content.field_description.0}}  </p>
               </div>
            </div>
            <div class="row mt_90">
                {{content.field_client_say}}
            </div>
         </div>
</section>
             