<div class="bhoechie-tab-content invest-image  ">
                        <div class="col-md-12 py-0">
                           <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}">
                        </div>
                     </div>