<div  id="about"  class=" back-right-text-c">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp ">
                  <h2> {{ content.field_title.0 }}  </h2>
                  <h1>{{ content.field_subtitle.0 }}</h1  >
                  <p>{{ content.field_description.0 }} </p>
               </div>
            </div>
            <div class="row about_row  py-40">
               <!--#about-text start --> 
                  {{ content.field_service }}
            </div>
         </div>
</div>