 <!-- #banner start -->
      <div class="about-bg-banner-img" style="background-image:url({{file_url(content.field_background_image['#items'].entity.uri.value)}});">     
             <section id="banner" class="py_120">
               <div class="container ">
                  <div class="row">
                     <!-- #banner-text start -->            
                     <div id="banner-text" class="col-md-7 text-c text-left ">
                        <h5 class="wow fadeInUp main-h font_30" data-wow-delay="0.2s" >{{content.field_header.0}}
                           <br><span class="about_text ">{{content.field_title.0}} </span>  
                        </h5>
                     
                     </div>
                     <!-- /#banner-text End -->
                  </div>
               </div>
               <div class="container-fluid p0 banner-shap-img">
               </div>
            </section>
      </div>


     