<div class="who_we_area col-md-6 col-sm-6  wow fadeInUp ">
                  <div class="service-about-services tabs_box_s">
                     <h2 class="unify_about"> {{content.field_title.0}}   </h2>
                     <p>{{content.field_description.0}}
                     </p>
                     <div class="top-service_btn wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <a id="#services" href="{{ content.field_button.0['#url'] }}" class="btn btn-default btn_text_cap   wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" style="visibility: visible; animation-delay:  0.5s; animation-name: fadeInUp;"><span class="skew_14">{{ content.field_button.0['#title'] }} </span></a>
                     </div>
                  </div>
               </div>