<div class="who_we_area col-md-4 col-sm-6 px_10 wow fadeInUp">
                  <div class="service-about text-left">
                     <div class="servise-right wow fadeInUp">
                        <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}">
                     </div>
                     <h2 class="unify_about"> {{content.field_title.0}}  </h2>
                     <p class="bottom-s">{{content.field_description.0}}   </p>
                  </div>
               </div>