<!--#Our blog Area start-->
    <section class="blog-area ptb-140 bg-1">
            <div class="container">
                <div class="row">

			    {% for row in rows %}
					{{ row.content }}
				{% endfor %} 
			</div>
	    </div>
	</section>