<!--#Our Testimonial Area start-->
      <section id="testimonials" class="testimonial_area row">
         <div class="container ">
            <div class="title wow fadeInUp">
            </div>
            <div class="testimonial_carosel">

			    {% for row in rows %}
					{{ row.content }}
				{% endfor %} 
			</div>
	    </div>
	</section>